<!doctype html>
<html lang="ja" >
  <head>
    <title>ログイン</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="floating-labels.css" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=CjenW8Wnu0ocGUmUSftlvOMV4pYKt2xgNXNpeIPHAfUbkD2GneAPccQ1_JqFFPQv5jwLQIHJDlV_X5xvGaQjk9228OQs-QISq2kQp8WShFk" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9nZXRib290c3RyYXAuanAvZG9jcy80LjUvZXhhbXBsZXMvZmxvYXRpbmctbGFiZWxzLw"/></head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <!-- <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1> -->
    <h1 class="h3 mb-3 font-weight-normal">login</h1>
    <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
    <p><code>:placeholder-shown</code> 疑似要素を使って, フローティングラベルのついたフォームを作成しましょう。<a href="https://caniuse.com/#feat=css-placeholder-shown">最新の Chrome, Safari, Firefox で動作します。</a></p>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <!-- <label for="inputEmail">Email address</label> -->
    <label for="inputEmail">メールアドレス</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <!-- <label for="inputPassword">Password</label> -->
    <label for="inputPassword">パスワード</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <!-- <input type="checkbox" value="remember-me"> Remember me -->
      <input type="checkbox" value="remember-me"> 保存する
    </label>
  </div>
  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>